<nav aria-label="Paginação" class="d-flex flex-row">
  <ul class="pagination">
    <!-- Botão anterior -->
    <li class="page-item" [class.disabled]="currentPage === 1">
      <app-button
        class="page-link"
        (click)="goToPrevious()"
        [disabled]="currentPage === 1"
        aria-label="Página anterior"
      >
        ‹
      </app-button>
    </li>

    <!-- Páginas -->
    <li
      class="page-item"
      *ngFor="let page of visiblePages"
      [class.active]="page === currentPage"
    >
      <app-button
        type="button"
        [ngClass]="page === currentPage ? 'btn btn-primary' : 'btn opacity-50 border'"
        (click)="goToPage(page)"
        [attr.aria-current]="page === currentPage ? 'page' : null"
      >
        {{ page }}
      </app-button>
    </li>

    <!-- Botão próximo -->
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <app-button
        class="page-link"
        (click)="goToNext()"
        [disabled]="currentPage === totalPages"
        aria-label="Próxima página"
      >
        ›
      </app-button>
    </li>
  </ul>
</nav>
