<aside class="sidebar bg-light vh-100 d-flex flex-column px-2 pt-3 border-end">
  <ul class="nav flex-column">
    <li *ngFor="let item of menuItems; let i = index" class="nav-item">
      <a
        *ngIf="!item.children"
        [routerLink]="item.path"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center justify-content-center gap-2"
        style="color: black"
      >
        <div class="d-flex flex-column align-items-center">
          <i
            *ngIf="item.icon"
            [class]="item.icon"
            style="font-size: 1.3rem"
          ></i>
          <span>{{ item.label }}</span>
        </div>
      </a>

      <button
        *ngIf="item.children"
        class="nav-link d-flex align-items-center gap-2 w-100 text-start bg-transparent border-0"
        (click)="toggleDropdown(i)"
        aria-expanded="{{ isDropdownOpen(i) }}"
      >
        <i *ngIf="item.icon" [class]="item.icon"></i>
        <span>{{ item.label }}</span>
        <i
          class="ms-auto bi"
          [ngClass]="{
            'bi-chevron-right': !isDropdownOpen(i),
            'bi-chevron-down': isDropdownOpen(i)
          }"
        ></i>
      </button>

      <div class="collapse" [class.show]="isDropdownOpen(i)">
        <ul class="nav flex-column ms-3">
          <li *ngFor="let child of item.children">
            <a
              class="nav-link d-flex align-items-center gap-2"
              [routerLink]="child.path"
              routerLinkActive="active"
            >
              <i *ngIf="child.icon" [class]="child.icon"></i>
              <span>{{ child.label }}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</aside>
