<app-page-layout title="Cursos">

  <div class="d-flex justify-content-end align-items-center mb-3">
    @if (showSearch) {
      <div class="input-group me-2">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" />
      </div>
    }
    <button class="btn btn-outline-secondary" (click)="toggleSearch()">
      <i class="bi bi-search"></i>
    </button>
  </div>

  <app-table [columns]="columns">
    @for (course of filteredCourses; track $index) {
      <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.description }}</td>
        <td>
          <button class="btn btn-outline-secondary btn-sm m-1" (click)="editCourse(course.id)">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-outline-danger btn-sm m-1" (click)="deleteCourse(course.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    }
  </app-table>

  <!-- Paginação + Botão adicionar -->
  <div class="d-flex align-items-center justify-content-between mt-5 mb-3">
    <div class="flex-grow-1 d-flex justify-content-center">
      <app-pagination
        [totalPages]="pageSize"
        [currentPage]="page"
        (pageChange)="collectionSize = courses.length"
      ></app-pagination>
    </div>

    <app-button variant="primary" size="md" (buttonClick)="openCreateModal()">
      Adicionar
    </app-button>
  </div>

<div class="modal-backdrop fade show" *ngIf="showCreateModal"></div>

<div class="modal fade show d-block" tabindex="-1" *ngIf="showCreateModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Adicionar Curso</h5>
        <button type="button" class="btn-close" (click)="closeCreateModal()"></button>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">
            <label class="form-label">Nome</label>
            <input 
              type="text" 
              class="form-control" 
              placeholder="Digite o nome"
              [(ngModel)]="newCourse.name">
          </div>

          <div class="col-md-6">
            <label class="form-label">Descrição</label>
            <input 
              type="text" 
              class="form-control"
              placeholder="Digite a descrição"
              [(ngModel)]="newCourse.description">
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeCreateModal()">Cancelar</button>
        <button class="btn btn-primary" (click)="createCourse()">Salvar</button>
      </div>

    </div>
  </div>
</div>

</app-page-layout>


