<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button class="btn-close" (click)="onCancel()"></button>
  </div>

  <div class="modal-body">
    <ng-content></ng-content>
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-secondary" (click)="onCancel()">
      {{ actionText2 }}
    </button>

    <button class="btn btn-primary" (click)="onAction()">
      {{ actionText }}
    </button>
  </div>

</ng-template>
