.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #bfbfbf;
  user-select: none;
}

.checkbox-container input {
  display: none;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: 2px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.custom-checkbox.checked {
  background-color: #7B61FF;
  border-color: #7B61FF;
}

.checkbox-label {
  cursor: pointer;
}
