.container {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.foto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.custom-pagination ::ng-deep .page-item.active .page-link {
  background-color: #7749F8 !important;
  border-color: #7749F8 !important;
  color: #fff !important;
}

.custom-pagination ::ng-deep .page-link {
  color: #000 !important;
  border: none;
  border-radius: 8px;
  margin: 0 3px;
}

.custom-pagination ::ng-deep .page-item.disabled .page-link {
  color: #aaa !important;
}

.add-btn {
  background-color: #7749F8 !important;
  border: none !important;
  padding: 0.6rem 1.5rem;
  font-weight: 500;
  border-radius: 8px;
}
